.mn-map {
  height:300px;
}
.mn-map .icon {
  background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat;
}
.mn-map .icon-cir {
  height: 31px; width: 28px;
}
.mn-map .icon-cir-red {
  background-position: -11px -5px;
}
.amap-container{
  height: 100%;
}
